@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Leckerli+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f5ec;
    color: #333;
    margin: 0;
    padding: 0;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
}

.banner-image {
    width: 100%;
    height: 540px;
    filter: brightness(0.7);
}

.header-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    border-radius: 10px;
}

.logo {
    width: 140px;
    margin-right: 20px;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.banner-text h2 {
    font-size: 3em;
    margin: 0;
}

.banner-text p {
    font-size: 1.5em;
    margin: 0;
}

.top-right-nav {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.top-right-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.top-right-nav ul li {
    margin-left: 20px;
}

.top-right-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
    transition: color 0.3s, background-color 0.3s;
}

.top-right-nav ul li a:hover {
    color: #86edeb;
}

.bottom-nav {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px 0;
}

.bottom-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.bottom-nav li {
    padding: 10px;
    border-radius: 5px;
}

.bottom-nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}

.bottom-nav a:hover {
    color: #86edeb;
}

.breadcrumb {
    font-size: 1em; 
    margin: 20px 0; 
    color: #333; 
    padding: 0 20px;
    text-align: left;
}

.breadcrumb a {
    text-decoration: none; 
    color: blue; 
}

.breadcrumb a:hover {
    text-decoration: underline; 
}

.divider
 {
    border: none; 
    height: 2px;
    background-color: grey;
    margin: 15px 0 30px; 
    width: 98%; 
    margin-left: auto;
    margin-right: auto;
}

.container-art {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #3b2e2a;
}

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.content {
    margin: 20px 0;
}

.content p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

header h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: strecth;
    gap: 20px;
}

.card {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    color: rgb(175, 112, 68);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mission {
    background: #e8d0bb;
}

.vision {
    background: #e8d0bb;
}

.icon {
    font-size: 50px;
    margin-bottom: 20px;
}

.text {
    background: whitesmoke;
    color: #3b2e2a;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #3b2e2a;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.social-icons {
    margin: 10px 0;
}

.social-icons a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s, background-color 0.3s;
}

.social-icons a:hover {
    color: #86edeb;
}

.footer-copy {
    margin-top: 20px;
    color: #3b2e2a;
    text-align: center;
    font-size: 0.9em;
}

.top-right-nav ul li a,
.bottom-nav a,
.social-icons a {
    transition: color 0.3s, background-color 0.3s;
}

.button {
    background-color: #3b2e2a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #86edeb;
    color: #3b2e2a;
}
